In [ ]:
%pylab inline

# Imports
import pandas as pd
import numpy as np
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Populating the interactive namespace from numpy and matplotlib

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
np.random.seed(24)

In [ ]:
root_dir = "/content/gdrive/My Drive/rec_system/"
print("The data lies here =>", root_dir)

The data lies here => /content/gdrive/My Drive/rec_system/

In [ ]:
df_tags = pd.read_csv("/content/gdrive/MyDrive/rec_system/tags.csv", encoding= 'unicode_escape')
df_chapters = pd.read_csv("/content/gdrive/MyDrive/rec_system/chapters.csv", encoding= 'unicode_escape')

In [ ]:
df_chapters.head()

,chapterID,Section,Chapter,Topic,tagID,url
0,cID1,1.1,1,About the Book,1,"""https://www.youtube.com/watch?v=TYG6lxSjO6A&l..."
1,cID2,1.2,1,Systems and Models,2,"""https://www.youtube.com/watch?v=TYG6lxSjO6A&l..."
2,cID3,1.3,1,When to Simulate (and When Not To),3,"""https://www.youtube.com/watch?v=TYG6lxSjO6A&l..."
3,cID4,1.4,1,Simulation Success Skills,4,"""https://www.youtube.com/watch?v=TYG6lxSjO6A&l..."
4,cID5,2.1,2,Queueing - System Structure and Terminology,5,"""https://www.youtube.com/watch?v=1oobmTyKcg8&l..."

In [ ]:
df_chapters["Section"] = df_chapters["Section"]
df_chapters["Chapter"] = df_chapters["Chapter"]
df_chapters["tagID"] = df_chapters["tagID"]

df_chapters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   chapterID  50 non-null     object
 1   Section    50 non-null     float64
 2   Chapter    50 non-null     int64
 3   Topic      50 non-null     object
 4   tagID      50 non-null     int64
 5   url        50 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

In [ ]:
df_tags.head()

   tagID        tag
0      1  animation
1      2    agility
2      3     arena
3      4      array
4      5   arrivals

In [ ]:
df_tags["tagID"] = df_tags["tagID"].map(str)

In [ ]:
id = []
question_desc = []
for i in range(1, 501, 1):
  id.append(i)
  question_desc.append("This is Question " + str(i))

print(id)
print(question_desc)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500]
['This is Question 1', 'This is Question 2', 'This is Question 3', 'This is Question 4', 'This is Question 5', 'This is Question 6', 'This is Question 7', 'This is Question 8', 'This is Question 9', 'This is Question 10', 'This is Question 11', 'This is Question 12', 'This is Question 13', 'This is Question 14', 'This is Question 15', 'This is Question 16', 'This is Question 17', 'This is Question 18', 'This is Question 19', 'This is Question 20', 'This is Question 21', 'This is Question 22', 'This is Question 23', 'This is Question 24', 'This is Question 25', 'This is Question 26', 'This is Question 27', 'This is Question 28', 'This is Question 29', 'This is Question 30', 'This is Question 31', 'This is Question 32', 'This is Question 33', 'This is Question 34', 'This is Question 35', 'This is Question 36', 'This is Question 37', 'This is Question 38', 'This is Question 39', 'This is Question 40', 'This is Question 41', 'This is Question 42', 'This is Question 43', 'This is Question 44', 'This is Question 45', 'This is Question 46', 'This is Question 47', 'This is Question 48', 'This is Question 49', 'This is Question 50', 'This is Question 51', 'This is Question 52', 'This is Question 53', 'This is Question 54', 'This is Question 55', 'This is Question 56', 'This is Question 57', 'This is Question 58', 'This is Question 59', 'This is Question 60', 'This is Question 61', 'This is Question 62', 'This is Question 63', 'This is Question 64', 'This is Question 65', 'This is Question 66', 'This is Question 67', 'This is Question 68', 'This is Question 69', 'This is Question 70', 'This is Question 71', 'This is Question 72', 'This is Question 73', 'This is Question 74', 'This is Question 75', 'This is Question 76', 'This is Question 77', 'This is Question 78', 'This is Question 79', 'This is Question 80', 'This is Question 81', 'This is Question 82', 'This is Question 83', 'This is Question 84', 'This is Question 85', 'This is Question 86', 'This is Question 87', 'This is Question 88', 'This is Question 89', 'This is Question 90', 'This is Question 91', 'This is Question 92', 'This is Question 93', 'This is Question 94', 'This is Question 95', 'This is Question 96', 'This is Question 97', 'This is Question 98', 'This is Question 99', 'This is Question 100', 'This is Question 101', 'This is Question 102', 'This is Question 103', 'This is Question 104', 'This is Question 105', 'This is Question 106', 'This is Question 107', 'This is Question 108', 'This is Question 109', 'This is Question 110', 'This is Question 111', 'This is Question 112', 'This is Question 113', 'This is Question 114', 'This is Question 115', 'This is Question 116', 'This is Question 117', 'This is Question 118', 'This is Question 119', 'This is Question 120', 'This is Question 121', 'This is Question 122', 'This is Question 123', 'This is Question 124', 'This is Question 125', 'This is Question 126', 'This is Question 127', 'This is Question 128', 'This is Question 129', 'This is Question 130', 'This is Question 131', 'This is Question 132', 'This is Question 133', 'This is Question 134', 'This is Question 135', 'This is Question 136', 'This is Question 137', 'This is Question 138', 'This is Question 139', 'This is Question 140', 'This is Question 141', 'This is Question 142', 'This is Question 143', 'This is Question 144', 'This is Question 145', 'This is Question 146', 'This is Question 147', 'This is Question 148', 'This is Question 149', 'This is Question 150', 'This is Question 151', 'This is Question 152', 'This is Question 153', 'This is Question 154', 'This is Question 155', 'This is Question 156', 'This is Question 157', 'This is Question 158', 'This is Question 159', 'This is Question 160', 'This is Question 161', 'This is Question 162', 'This is Question 163', 'This is Question 164', 'This is Question 165', 'This is Question 166', 'This is Question 167', 'This is Question 168', 'This is Question 169', 'This is Question 170', 'This is Question 171', 'This is Question 172', 'This is Question 173', 'This is Question 174', 'This is Question 175', 'This is Question 176', 'This is Question 177', 'This is Question 178', 'This is Question 179', 'This is Question 180', 'This is Question 181', 'This is Question 182', 'This is Question 183', 'This is Question 184', 'This is Question 185', 'This is Question 186', 'This is Question 187', 'This is Question 188', 'This is Question 189', 'This is Question 190', 'This is Question 191', 'This is Question 192', 'This is Question 193', 'This is Question 194', 'This is Question 195', 'This is Question 196', 'This is Question 197', 'This is Question 198', 'This is Question 199', 'This is Question 200', 'This is Question 201', 'This is Question 202', 'This is Question 203', 'This is Question 204', 'This is Question 205', 'This is Question 206', 'This is Question 207', 'This is Question 208', 'This is Question 209', 'This is Question 210', 'This is Question 211', 'This is Question 212', 'This is Question 213', 'This is Question 214', 'This is Question 215', 'This is Question 216', 'This is Question 217', 'This is Question 218', 'This is Question 219', 'This is Question 220', 'This is Question 221', 'This is Question 222', 'This is Question 223', 'This is Question 224', 'This is Question 225', 'This is Question 226', 'This is Question 227', 'This is Question 228', 'This is Question 229', 'This is Question 230', 'This is Question 231', 'This is Question 232', 'This is Question 233', 'This is Question 234', 'This is Question 235', 'This is Question 236', 'This is Question 237', 'This is Question 238', 'This is Question 239', 'This is Question 240', 'This is Question 241', 'This is Question 242', 'This is Question 243', 'This is Question 244', 'This is Question 245', 'This is Question 246', 'This is Question 247', 'This is Question 248', 'This is Question 249', 'This is Question 250', 'This is Question 251', 'This is Question 252', 'This is Question 253', 'This is Question 254', 'This is Question 255', 'This is Question 256', 'This is Question 257', 'This is Question 258', 'This is Question 259', 'This is Question 260', 'This is Question 261', 'This is Question 262', 'This is Question 263', 'This is Question 264', 'This is Question 265', 'This is Question 266', 'This is Question 267', 'This is Question 268', 'This is Question 269', 'This is Question 270', 'This is Question 271', 'This is Question 272', 'This is Question 273', 'This is Question 274', 'This is Question 275', 'This is Question 276', 'This is Question 277', 'This is Question 278', 'This is Question 279', 'This is Question 280', 'This is Question 281', 'This is Question 282', 'This is Question 283', 'This is Question 284', 'This is Question 285', 'This is Question 286', 'This is Question 287', 'This is Question 288', 'This is Question 289', 'This is Question 290', 'This is Question 291', 'This is Question 292', 'This is Question 293', 'This is Question 294', 'This is Question 295', 'This is Question 296', 'This is Question 297', 'This is Question 298', 'This is Question 299', 'This is Question 300', 'This is Question 301', 'This is Question 302', 'This is Question 303', 'This is Question 304', 'This is Question 305', 'This is Question 306', 'This is Question 307', 'This is Question 308', 'This is Question 309', 'This is Question 310', 'This is Question 311', 'This is Question 312', 'This is Question 313', 'This is Question 314', 'This is Question 315', 'This is Question 316', 'This is Question 317', 'This is Question 318', 'This is Question 319', 'This is Question 320', 'This is Question 321', 'This is Question 322', 'This is Question 323', 'This is Question 324', 'This is Question 325', 'This is Question 326', 'This is Question 327', 'This is Question 328', 'This is Question 329', 'This is Question 330', 'This is Question 331', 'This is Question 332', 'This is Question 333', 'This is Question 334', 'This is Question 335', 'This is Question 336', 'This is Question 337', 'This is Question 338', 'This is Question 339', 'This is Question 340', 'This is Question 341', 'This is Question 342', 'This is Question 343', 'This is Question 344', 'This is Question 345', 'This is Question 346', 'This is Question 347', 'This is Question 348', 'This is Question 349', 'This is Question 350', 'This is Question 351', 'This is Question 352', 'This is Question 353', 'This is Question 354', 'This is Question 355', 'This is Question 356', 'This is Question 357', 'This is Question 358', 'This is Question 359', 'This is Question 360', 'This is Question 361', 'This is Question 362', 'This is Question 363', 'This is Question 364', 'This is Question 365', 'This is Question 366', 'This is Question 367', 'This is Question 368', 'This is Question 369', 'This is Question 370', 'This is Question 371', 'This is Question 372', 'This is Question 373', 'This is Question 374', 'This is Question 375', 'This is Question 376', 'This is Question 377', 'This is Question 378', 'This is Question 379', 'This is Question 380', 'This is Question 381', 'This is Question 382', 'This is Question 383', 'This is Question 384', 'This is Question 385', 'This is Question 386', 'This is Question 387', 'This is Question 388', 'This is Question 389', 'This is Question 390', 'This is Question 391', 'This is Question 392', 'This is Question 393', 'This is Question 394', 'This is Question 395', 'This is Question 396', 'This is Question 397', 'This is Question 398', 'This is Question 399', 'This is Question 400', 'This is Question 401', 'This is Question 402', 'This is Question 403', 'This is Question 404', 'This is Question 405', 'This is Question 406', 'This is Question 407', 'This is Question 408', 'This is Question 409', 'This is Question 410', 'This is Question 411', 'This is Question 412', 'This is Question 413', 'This is Question 414', 'This is Question 415', 'This is Question 416', 'This is Question 417', 'This is Question 418', 'This is Question 419', 'This is Question 420', 'This is Question 421', 'This is Question 422', 'This is Question 423', 'This is Question 424', 'This is Question 425', 'This is Question 426', 'This is Question 427', 'This is Question 428', 'This is Question 429', 'This is Question 430', 'This is Question 431', 'This is Question 432', 'This is Question 433', 'This is Question 434', 'This is Question 435', 'This is Question 436', 'This is Question 437', 'This is Question 438', 'This is Question 439', 'This is Question 440', 'This is Question 441', 'This is Question 442', 'This is Question 443', 'This is Question 444', 'This is Question 445', 'This is Question 446', 'This is Question 447', 'This is Question 448', 'This is Question 449', 'This is Question 450', 'This is Question 451', 'This is Question 452', 'This is Question 453', 'This is Question 454', 'This is Question 455', 'This is Question 456', 'This is Question 457', 'This is Question 458', 'This is Question 459', 'This is Question 460', 'This is Question 461', 'This is Question 462', 'This is Question 463', 'This is Question 464', 'This is Question 465', 'This is Question 466', 'This is Question 467', 'This is Question 468', 'This is Question 469', 'This is Question 470', 'This is Question 471', 'This is Question 472', 'This is Question 473', 'This is Question 474', 'This is Question 475', 'This is Question 476', 'This is Question 477', 'This is Question 478', 'This is Question 479', 'This is Question 480', 'This is Question 481', 'This is Question 482', 'This is Question 483', 'This is Question 484', 'This is Question 485', 'This is Question 486', 'This is Question 487', 'This is Question 488', 'This is Question 489', 'This is Question 490', 'This is Question 491', 'This is Question 492', 'This is Question 493', 'This is Question 494', 'This is Question 495', 'This is Question 496', 'This is Question 497', 'This is Question 498', 'This is Question 499', 'This is Question 500']

In [ ]:
exam_1 = []
exam_2 = []
final = []

for i in range (500):
  exam_1.append(random.randint(0,1))
  exam_2.append(random.randint(0,1))
  final.append(random.randint(0,1))

print(exam_1)
print(exam_2)
print(final)

[1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1]
[0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0]
[0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0]

In [ ]:
df_chapters["Section"] = df_chapters["Section"].map(str)
df_chapters["Chapter"] = df_chapters["Chapter"].map(str)
df_chapters["tagID"] = df_chapters["tagID"].map(str)

df_chapters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   chapterID  50 non-null     object
 1   Section    50 non-null     object
 2   Chapter    50 non-null     object
 3   Topic      50 non-null     object
 4   tagID      50 non-null     object
 5   url        50 non-null     object
dtypes: object(6)
memory usage: 2.5+ KB

In [ ]:
topic_id = df_chapters['chapterID'].tolist()

print(topic_id)

['cID1', 'cID2', 'cID3', 'cID4', 'cID5', 'cID6', 'cID7', 'cID8', 'cID9', 'cID10', 'cID11', 'cID12', 'cID13', 'cID14', 'cID15', 'cID16', 'cID17', 'cID18', 'cID19', 'cID20', 'cID21', 'cID22', 'cID23', 'cID24', 'cID25', 'cID26', 'cID27', 'cID28', 'cID29', 'cID30', 'cID31', 'cID32', 'cID33', 'cID34', 'cID35', 'cID36', 'cID37', 'cID38', 'cID39', 'cID40', 'cID41', 'cID42', 'cID43', 'cID44', 'cID45', 'cID46', 'cID47', 'cID48', 'cID49', 'cID50']

In [ ]:
topic_1 = []
topic_2 = []
points = []
median = []
num_scores = []

for i in range(500):
  topic_1.extend(random.choices(topic_id))
  topic_2.extend(random.choices(topic_id))
  points.append(random.randint(0,5))
  median.append(random.randint(2,5))
  num_scores.append(random.randint(27,99))

print(topic_1)
print(topic_2)
print(points)

['cID23', 'cID42', 'cID12', 'cID36', 'cID45', 'cID18', 'cID16', 'cID35', 'cID9', 'cID26', 'cID47', 'cID37', 'cID15', 'cID42', 'cID12', 'cID43', 'cID6', 'cID34', 'cID40', 'cID21', 'cID41', 'cID33', 'cID21', 'cID5', 'cID3', 'cID28', 'cID1', 'cID23', 'cID12', 'cID13', 'cID22', 'cID48', 'cID11', 'cID8', 'cID39', 'cID43', 'cID38', 'cID28', 'cID50', 'cID38', 'cID47', 'cID20', 'cID16', 'cID16', 'cID10', 'cID36', 'cID21', 'cID19', 'cID17', 'cID31', 'cID25', 'cID10', 'cID45', 'cID49', 'cID11', 'cID9', 'cID45', 'cID7', 'cID24', 'cID16', 'cID15', 'cID19', 'cID37', 'cID31', 'cID7', 'cID6', 'cID37', 'cID22', 'cID42', 'cID9', 'cID4', 'cID41', 'cID5', 'cID19', 'cID36', 'cID13', 'cID50', 'cID7', 'cID1', 'cID25', 'cID37', 'cID21', 'cID48', 'cID3', 'cID1', 'cID7', 'cID16', 'cID12', 'cID13', 'cID23', 'cID10', 'cID9', 'cID5', 'cID5', 'cID9', 'cID49', 'cID36', 'cID19', 'cID27', 'cID28', 'cID16', 'cID35', 'cID10', 'cID49', 'cID37', 'cID37', 'cID13', 'cID46', 'cID25', 'cID28', 'cID32', 'cID27', 'cID29', 'cID20', 'cID28', 'cID7', 'cID1', 'cID28', 'cID14', 'cID21', 'cID35', 'cID16', 'cID42', 'cID45', 'cID23', 'cID32', 'cID42', 'cID17', 'cID19', 'cID3', 'cID46', 'cID1', 'cID37', 'cID50', 'cID25', 'cID19', 'cID26', 'cID43', 'cID46', 'cID30', 'cID44', 'cID12', 'cID40', 'cID43', 'cID28', 'cID17', 'cID18', 'cID44', 'cID7', 'cID41', 'cID22', 'cID11', 'cID42', 'cID49', 'cID44', 'cID39', 'cID38', 'cID28', 'cID33', 'cID48', 'cID26', 'cID5', 'cID20', 'cID16', 'cID13', 'cID34', 'cID29', 'cID3', 'cID50', 'cID29', 'cID28', 'cID20', 'cID39', 'cID14', 'cID23', 'cID21', 'cID41', 'cID24', 'cID6', 'cID39', 'cID49', 'cID21', 'cID40', 'cID3', 'cID18', 'cID28', 'cID48', 'cID23', 'cID35', 'cID26', 'cID19', 'cID32', 'cID50', 'cID4', 'cID22', 'cID4', 'cID9', 'cID40', 'cID42', 'cID25', 'cID33', 'cID25', 'cID30', 'cID23', 'cID17', 'cID22', 'cID1', 'cID31', 'cID44', 'cID1', 'cID39', 'cID13', 'cID3', 'cID36', 'cID33', 'cID15', 'cID34', 'cID39', 'cID7', 'cID19', 'cID1', 'cID3', 'cID37', 'cID43', 'cID21', 'cID13', 'cID1', 'cID15', 'cID7', 'cID37', 'cID27', 'cID28', 'cID8', 'cID29', 'cID6', 'cID27', 'cID12', 'cID34', 'cID22', 'cID41', 'cID22', 'cID6', 'cID29', 'cID18', 'cID20', 'cID32', 'cID46', 'cID27', 'cID10', 'cID39', 'cID13', 'cID27', 'cID38', 'cID6', 'cID40', 'cID1', 'cID9', 'cID38', 'cID9', 'cID35', 'cID19', 'cID4', 'cID16', 'cID22', 'cID7', 'cID32', 'cID44', 'cID13', 'cID17', 'cID1', 'cID17', 'cID16', 'cID24', 'cID10', 'cID2', 'cID4', 'cID40', 'cID25', 'cID26', 'cID22', 'cID40', 'cID49', 'cID43', 'cID23', 'cID13', 'cID40', 'cID34', 'cID1', 'cID47', 'cID39', 'cID8', 'cID8', 'cID46', 'cID5', 'cID22', 'cID26', 'cID18', 'cID29', 'cID36', 'cID16', 'cID44', 'cID21', 'cID4', 'cID22', 'cID12', 'cID46', 'cID20', 'cID9', 'cID37', 'cID30', 'cID16', 'cID43', 'cID9', 'cID16', 'cID4', 'cID28', 'cID35', 'cID46', 'cID32', 'cID46', 'cID6', 'cID12', 'cID18', 'cID17', 'cID50', 'cID43', 'cID42', 'cID3', 'cID12', 'cID16', 'cID6', 'cID12', 'cID12', 'cID45', 'cID32', 'cID24', 'cID6', 'cID15', 'cID27', 'cID16', 'cID49', 'cID12', 'cID4', 'cID10', 'cID49', 'cID26', 'cID20', 'cID37', 'cID42', 'cID23', 'cID8', 'cID47', 'cID27', 'cID18', 'cID32', 'cID36', 'cID4', 'cID23', 'cID19', 'cID26', 'cID11', 'cID8', 'cID9', 'cID27', 'cID39', 'cID17', 'cID6', 'cID38', 'cID29', 'cID36', 'cID14', 'cID50', 'cID31', 'cID46', 'cID23', 'cID46', 'cID20', 'cID32', 'cID1', 'cID43', 'cID32', 'cID27', 'cID8', 'cID10', 'cID16', 'cID31', 'cID36', 'cID40', 'cID27', 'cID20', 'cID48', 'cID37', 'cID33', 'cID32', 'cID49', 'cID50', 'cID45', 'cID41', 'cID6', 'cID16', 'cID47', 'cID5', 'cID40', 'cID15', 'cID17', 'cID49', 'cID29', 'cID30', 'cID35', 'cID21', 'cID13', 'cID49', 'cID46', 'cID5', 'cID33', 'cID33', 'cID4', 'cID42', 'cID3', 'cID16', 'cID33', 'cID23', 'cID30', 'cID22', 'cID44', 'cID45', 'cID27', 'cID33', 'cID44', 'cID8', 'cID14', 'cID41', 'cID6', 'cID41', 'cID19', 'cID28', 'cID25', 'cID48', 'cID33', 'cID34', 'cID44', 'cID17', 'cID35', 'cID41', 'cID50', 'cID34', 'cID31', 'cID44', 'cID8', 'cID14', 'cID45', 'cID13', 'cID5', 'cID31', 'cID3', 'cID30', 'cID32', 'cID8', 'cID48', 'cID28', 'cID49', 'cID10', 'cID44', 'cID14', 'cID36', 'cID45', 'cID2', 'cID5', 'cID13', 'cID4', 'cID11', 'cID25', 'cID38', 'cID22', 'cID2', 'cID18', 'cID37', 'cID32', 'cID5', 'cID12', 'cID4', 'cID20', 'cID45', 'cID36', 'cID13', 'cID16', 'cID35', 'cID37', 'cID12', 'cID8', 'cID32', 'cID32', 'cID6', 'cID1', 'cID28', 'cID18', 'cID32', 'cID4', 'cID27', 'cID2']
['cID5', 'cID50', 'cID39', 'cID32', 'cID21', 'cID9', 'cID7', 'cID18', 'cID20', 'cID9', 'cID2', 'cID33', 'cID3', 'cID4', 'cID41', 'cID47', 'cID16', 'cID19', 'cID45', 'cID49', 'cID48', 'cID26', 'cID1', 'cID4', 'cID4', 'cID19', 'cID27', 'cID36', 'cID25', 'cID23', 'cID28', 'cID47', 'cID17', 'cID19', 'cID2', 'cID18', 'cID33', 'cID46', 'cID37', 'cID49', 'cID24', 'cID5', 'cID10', 'cID24', 'cID47', 'cID19', 'cID50', 'cID1', 'cID44', 'cID10', 'cID27', 'cID22', 'cID24', 'cID1', 'cID38', 'cID18', 'cID32', 'cID20', 'cID41', 'cID19', 'cID46', 'cID7', 'cID48', 'cID49', 'cID44', 'cID1', 'cID18', 'cID11', 'cID29', 'cID23', 'cID32', 'cID12', 'cID32', 'cID34', 'cID20', 'cID37', 'cID31', 'cID26', 'cID21', 'cID20', 'cID27', 'cID29', 'cID19', 'cID47', 'cID16', 'cID21', 'cID43', 'cID27', 'cID40', 'cID24', 'cID38', 'cID29', 'cID5', 'cID37', 'cID18', 'cID27', 'cID47', 'cID7', 'cID9', 'cID5', 'cID22', 'cID2', 'cID39', 'cID23', 'cID49', 'cID20', 'cID49', 'cID46', 'cID40', 'cID26', 'cID24', 'cID50', 'cID39', 'cID33', 'cID36', 'cID31', 'cID48', 'cID34', 'cID7', 'cID16', 'cID25', 'cID12', 'cID12', 'cID36', 'cID7', 'cID9', 'cID13', 'cID21', 'cID50', 'cID30', 'cID24', 'cID3', 'cID9', 'cID20', 'cID4', 'cID32', 'cID21', 'cID1', 'cID37', 'cID23', 'cID43', 'cID32', 'cID1', 'cID5', 'cID42', 'cID21', 'cID41', 'cID34', 'cID39', 'cID23', 'cID12', 'cID1', 'cID24', 'cID28', 'cID18', 'cID3', 'cID38', 'cID36', 'cID35', 'cID17', 'cID29', 'cID25', 'cID4', 'cID30', 'cID9', 'cID32', 'cID39', 'cID20', 'cID2', 'cID49', 'cID46', 'cID20', 'cID34', 'cID50', 'cID42', 'cID16', 'cID40', 'cID7', 'cID15', 'cID27', 'cID27', 'cID29', 'cID8', 'cID6', 'cID33', 'cID20', 'cID43', 'cID6', 'cID32', 'cID31', 'cID35', 'cID5', 'cID4', 'cID26', 'cID9', 'cID7', 'cID10', 'cID15', 'cID14', 'cID37', 'cID4', 'cID11', 'cID15', 'cID21', 'cID32', 'cID20', 'cID18', 'cID14', 'cID41', 'cID11', 'cID44', 'cID32', 'cID39', 'cID29', 'cID12', 'cID7', 'cID35', 'cID43', 'cID11', 'cID35', 'cID43', 'cID11', 'cID37', 'cID1', 'cID42', 'cID15', 'cID12', 'cID9', 'cID42', 'cID5', 'cID35', 'cID32', 'cID10', 'cID37', 'cID45', 'cID41', 'cID14', 'cID15', 'cID2', 'cID4', 'cID34', 'cID37', 'cID25', 'cID43', 'cID21', 'cID35', 'cID2', 'cID17', 'cID36', 'cID35', 'cID41', 'cID8', 'cID22', 'cID20', 'cID50', 'cID8', 'cID33', 'cID9', 'cID39', 'cID21', 'cID9', 'cID44', 'cID34', 'cID20', 'cID44', 'cID17', 'cID3', 'cID17', 'cID44', 'cID5', 'cID5', 'cID22', 'cID12', 'cID27', 'cID41', 'cID8', 'cID35', 'cID9', 'cID46', 'cID20', 'cID20', 'cID50', 'cID25', 'cID8', 'cID9', 'cID19', 'cID4', 'cID9', 'cID29', 'cID27', 'cID29', 'cID25', 'cID28', 'cID28', 'cID48', 'cID16', 'cID17', 'cID43', 'cID25', 'cID26', 'cID41', 'cID16', 'cID14', 'cID14', 'cID12', 'cID30', 'cID13', 'cID2', 'cID29', 'cID29', 'cID36', 'cID39', 'cID47', 'cID49', 'cID4', 'cID10', 'cID16', 'cID39', 'cID29', 'cID47', 'cID1', 'cID28', 'cID42', 'cID9', 'cID49', 'cID26', 'cID43', 'cID1', 'cID9', 'cID12', 'cID37', 'cID7', 'cID39', 'cID16', 'cID32', 'cID2', 'cID12', 'cID20', 'cID3', 'cID34', 'cID12', 'cID35', 'cID38', 'cID41', 'cID3', 'cID4', 'cID25', 'cID35', 'cID26', 'cID41', 'cID34', 'cID35', 'cID7', 'cID18', 'cID49', 'cID26', 'cID49', 'cID18', 'cID39', 'cID44', 'cID41', 'cID5', 'cID9', 'cID3', 'cID1', 'cID12', 'cID5', 'cID30', 'cID15', 'cID31', 'cID39', 'cID30', 'cID38', 'cID23', 'cID7', 'cID47', 'cID41', 'cID25', 'cID27', 'cID26', 'cID23', 'cID43', 'cID27', 'cID19', 'cID39', 'cID44', 'cID30', 'cID38', 'cID35', 'cID44', 'cID13', 'cID44', 'cID10', 'cID41', 'cID40', 'cID19', 'cID37', 'cID18', 'cID48', 'cID6', 'cID31', 'cID27', 'cID26', 'cID35', 'cID5', 'cID3', 'cID16', 'cID50', 'cID25', 'cID50', 'cID30', 'cID8', 'cID48', 'cID35', 'cID8', 'cID46', 'cID15', 'cID4', 'cID14', 'cID40', 'cID32', 'cID38', 'cID35', 'cID38', 'cID12', 'cID5', 'cID42', 'cID47', 'cID25', 'cID18', 'cID11', 'cID29', 'cID50', 'cID37', 'cID35', 'cID38', 'cID38', 'cID23', 'cID13', 'cID11', 'cID36', 'cID42', 'cID8', 'cID40', 'cID19', 'cID35', 'cID40', 'cID39', 'cID10', 'cID35', 'cID30', 'cID47', 'cID49', 'cID34', 'cID15', 'cID39', 'cID40', 'cID24', 'cID37', 'cID2', 'cID36', 'cID48', 'cID44', 'cID18', 'cID41', 'cID33', 'cID38', 'cID41', 'cID34', 'cID40', 'cID3', 'cID6', 'cID1', 'cID2', 'cID12', 'cID12', 'cID43', 'cID3', 'cID7', 'cID10', 'cID31', 'cID35', 'cID37', 'cID15', 'cID2', 'cID21', 'cID10', 'cID36', 'cID20', 'cID40', 'cID23', 'cID38', 'cID27', 'cID26', 'cID26', 'cID34', 'cID8', 'cID23', 'cID24', 'cID6']
[0, 2, 0, 2, 0, 1, 3, 0, 2, 2, 4, 1, 2, 5, 0, 4, 5, 3, 4, 0, 5, 3, 1, 2, 2, 2, 1, 4, 3, 4, 2, 5, 0, 5, 5, 4, 1, 3, 5, 0, 5, 4, 4, 0, 4, 1, 5, 0, 1, 3, 5, 4, 4, 2, 5, 0, 0, 0, 0, 3, 4, 4, 3, 0, 3, 1, 0, 1, 3, 2, 3, 4, 2, 3, 1, 0, 4, 3, 1, 2, 2, 2, 5, 0, 4, 1, 5, 0, 2, 0, 3, 3, 3, 3, 1, 1, 5, 2, 0, 2, 3, 4, 0, 2, 0, 3, 0, 2, 5, 4, 4, 2, 3, 4, 1, 4, 1, 0, 0, 2, 2, 3, 3, 2, 0, 3, 1, 3, 0, 1, 0, 2, 3, 1, 2, 5, 4, 4, 3, 0, 2, 0, 2, 1, 5, 4, 1, 1, 1, 4, 2, 0, 4, 1, 2, 1, 2, 1, 1, 1, 5, 2, 3, 3, 5, 4, 0, 4, 0, 5, 2, 1, 5, 3, 4, 4, 5, 5, 3, 2, 5, 2, 1, 0, 5, 0, 4, 1, 0, 5, 0, 4, 4, 1, 3, 1, 0, 3, 5, 0, 0, 5, 1, 2, 2, 4, 2, 2, 4, 5, 2, 0, 5, 4, 1, 4, 3, 5, 1, 3, 0, 4, 0, 3, 2, 4, 4, 5, 3, 0, 1, 5, 0, 3, 4, 0, 4, 1, 2, 1, 4, 3, 0, 2, 2, 5, 1, 0, 5, 2, 4, 1, 1, 1, 5, 2, 4, 3, 0, 0, 4, 1, 3, 4, 2, 2, 5, 2, 2, 2, 4, 4, 4, 4, 2, 1, 5, 0, 3, 0, 3, 1, 4, 2, 5, 3, 3, 3, 1, 5, 5, 5, 4, 3, 0, 2, 2, 2, 4, 2, 0, 2, 1, 3, 0, 1, 2, 3, 1, 2, 5, 5, 5, 2, 3, 3, 1, 4, 5, 0, 2, 0, 3, 4, 4, 5, 4, 0, 4, 1, 5, 5, 4, 2, 5, 5, 3, 4, 4, 5, 5, 1, 3, 3, 1, 4, 0, 3, 1, 0, 5, 4, 5, 2, 5, 0, 5, 4, 1, 2, 1, 1, 3, 5, 3, 1, 2, 4, 4, 0, 4, 1, 1, 0, 5, 1, 5, 5, 2, 0, 2, 3, 2, 1, 4, 5, 2, 0, 5, 1, 0, 3, 4, 5, 3, 3, 1, 3, 0, 0, 0, 3, 5, 2, 3, 4, 2, 0, 3, 1, 0, 0, 5, 2, 5, 1, 0, 2, 1, 1, 2, 1, 5, 0, 1, 0, 4, 2, 3, 3, 0, 5, 2, 3, 1, 3, 3, 0, 3, 4, 2, 0, 1, 2, 0, 1, 3, 4, 2, 5, 4, 5, 1, 0, 3, 3, 4, 5, 0, 0, 0, 5, 4, 5, 1, 5, 5, 1, 5, 2, 3, 3, 0, 3, 2, 5, 4, 3, 1, 0, 5, 2, 3, 4, 5, 3, 2, 4, 5, 0, 0, 1, 5, 5, 4, 4, 4, 3, 1, 0]

In [ ]:
df_questions = pd.DataFrame(list(zip(id, question_desc, topic_1, topic_2, points, exam_1, exam_2, final)),
               columns =['ID', 'Desc', 'Topic1', 'Topic2', "Average Score", "Exam 1", "Exam 2", "Final"])

In [ ]:
df_questions.head()

   ID                Desc Topic1 Topic2  Average Score  Exam 1  Exam 2  Final
0   1  This is Question 1  cID23   cID5              0       1       0      0
1   2  This is Question 2  cID42  cID50              2       0       1      0
2   3  This is Question 3  cID12  cID39              0       0       0      1
3   4  This is Question 4  cID36  cID32              2       1       0      1
4   5  This is Question 5  cID45  cID21              0       1       0      1

In [ ]:
df_with_top = pd.merge(df_questions, df_chapters, left_on="Topic1", right_on="chapterID", how='left', copy = True)

In [ ]:
df_with_top.head()

,ID,Desc,Topic1,Topic2,Average Score,Exam 1,Exam 2,Final,chapterID,Section,Chapter,Topic,tagID,url
0,1,This is Question 1,cID23,cID5,0,1,0,0,cID23,5.2,5,First Project Using the Standard Library Objects,23,"""https://www.youtube.com/watch?v=x8R32Z-o9Lo&l..."
1,2,This is Question 2,cID42,cID50,2,0,1,0,cID42,7.5,7,Lists,42,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l..."
2,3,This is Question 3,cID12,cID39,0,0,0,1,cID12,3.2,3,Manual Simulation,12,"""https://www.youtube.com/watch?v=qbfHVvJ2Ez4&l..."
3,4,This is Question 4,cID36,cID32,2,1,0,1,cID36,6.6,6,Summary,36,"""https://www.youtube.com/watch?v=JLtEFlTN9Y4&l..."
4,5,This is Question 5,cID45,cID21,0,1,0,1,cID45,7.8,7,Summary,45,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l..."

In [ ]:
df_with_top = pd.merge(df_with_top, df_chapters, left_on="Topic2", right_on="chapterID", how='left', copy = True, suffixes=("_1", "_2"))

In [ ]:
df_with_top.head()

,ID,Desc,Topic1,Topic2,Average Score,Exam 1,Exam 2,Final,chapterID_1,Section_1,Chapter_1,Topic_1,tagID_1,url_1,chapterID_2,Section_2,Chapter_2,Topic_2,tagID_2,url_2
0,1,This is Question 1,cID23,cID5,0,1,0,0,cID23,5.2,5,First Project Using the Standard Library Objects,23,"""https://www.youtube.com/watch?v=x8R32Z-o9Lo&l...",cID5,2.1,2,Queueing - System Structure and Terminology,5,"""https://www.youtube.com/watch?v=1oobmTyKcg8&l..."
1,2,This is Question 2,cID42,cID50,2,0,1,0,cID42,7.5,7,Lists,42,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l...",cID50,8.4,8,ED Model Revisited,50,"""https://www.youtube.com/watch?v=t3hTCwYGeF8&l..."
2,3,This is Question 3,cID12,cID39,0,0,0,1,cID12,3.2,3,Manual Simulation,12,"""https://www.youtube.com/watch?v=qbfHVvJ2Ez4&l...",cID39,7.2,7,Schedules,39,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l..."
3,4,This is Question 4,cID36,cID32,2,1,0,1,cID36,6.6,6,Summary,36,"""https://www.youtube.com/watch?v=JLtEFlTN9Y4&l...",cID32,6.2,6,PCB Assembly,32,"""https://www.youtube.com/watch?v=JLtEFlTN9Y4&l..."
4,5,This is Question 5,cID45,cID21,0,1,0,1,cID45,7.8,7,Summary,45,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l...",cID21,4.5,4,Problems,21,"""https://www.youtube.com/watch?v=6DN1NYfG1kQ&l..."

In [ ]:
df_with_top = pd.merge(df_with_top, df_tags, left_on="tagID_1", right_on="tagID", how='left', copy = True, suffixes=("_x", "_y"))

In [ ]:
df_with_top = pd.merge(df_with_top, df_tags, left_on="tagID_2", right_on="tagID", how='left', copy = True, suffixes=("_x", "_y"))

In [ ]:
df_with_top.head()

,ID,Desc,Topic1,Topic2,Average Score,Exam 1,Exam 2,Final,chapterID_1,Section_1,...,chapterID_2,Section_2,Chapter_2,Topic_2,tagID_2,url_2,tagID_x,tag_x,tagID_y,tag_y
0,1,This is Question 1,cID23,cID5,0,1,0,0,cID23,5.2,...,cID5,2.1,2,Queueing - System Structure and Terminology,5,"""https://www.youtube.com/watch?v=1oobmTyKcg8&l...",23,excel,5,arrivals
1,2,This is Question 2,cID42,cID50,2,0,1,0,cID42,7.5,...,cID50,8.4,8,ED Model Revisited,50,"""https://www.youtube.com/watch?v=t3hTCwYGeF8&l...",42,poisson process,50,risk analysis
2,3,This is Question 3,cID12,cID39,0,0,0,1,cID12,3.2,...,cID39,7.2,7,Schedules,39,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l...",12,correlation,39,linear
3,4,This is Question 4,cID36,cID32,2,1,0,1,cID36,6.6,...,cID32,6.2,6,PCB Assembly,32,"""https://www.youtube.com/watch?v=JLtEFlTN9Y4&l...",36,oculus,32,integration
4,5,This is Question 5,cID45,cID21,0,1,0,1,cID45,7.8,...,cID21,4.5,4,Problems,21,"""https://www.youtube.com/watch?v=6DN1NYfG1kQ&l...",45,queue,21,state statistics

In [ ]:
df_with_top["Topics"] = df_with_top["Topic_1"] + ", " + df_with_top["Topic_2"]
# df_with_top["chapterIDs"] = df_with_top["chapterID_1"] + ", " + df_with_top["chapterID_2"]
df_with_top["Chapters"] = df_with_top["Chapter_1"] + ", " + df_with_top["Chapter_2"]
df_with_top["Sections"] = df_with_top["Section_1"] # + ", " + df_with_top["Section_2"]
df_with_top["URLs"] = df_with_top["url_1"] + ", " + df_with_top["url_2"]
df_with_top["tags"] = df_with_top["tag_x"] + ", " + df_with_top["tag_y"]
df_with_top["tagIDs"] = df_with_top["tagID_1"] + " " + df_with_top["tagID_2"]

df_with_top = df_with_top.drop(["Topic1", "Topic2", "Topic_1", "Topic_2", "chapterID_1", "chapterID_2", "Chapter_1", "Chapter_2", "Section_1", "Section_2", "url_1", "url_2", "tag_x", "tag_y", "tagID_1", "tagID_2", "tagID_x", "tagID_y"], axis=1)
df_with_top.head()

,ID,Desc,Average Score,Exam 1,Exam 2,Final,Topics,Chapters,Sections,URLs,tags,tagIDs
0,1,This is Question 1,0,1,0,0,First Project Using the Standard Library Objec...,"5, 2",5.2,"""https://www.youtube.com/watch?v=x8R32Z-o9Lo&l...","excel, arrivals",23 5
1,2,This is Question 2,2,0,1,0,"Lists, ED Model Revisited","7, 8",7.5,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l...","poisson process, risk analysis",42 50
2,3,This is Question 3,0,0,0,1,"Manual Simulation, Schedules","3, 7",3.2,"""https://www.youtube.com/watch?v=qbfHVvJ2Ez4&l...","correlation, linear",12 39
3,4,This is Question 4,2,1,0,1,"Summary, PCB Assembly","6, 6",6.6,"""https://www.youtube.com/watch?v=JLtEFlTN9Y4&l...","oculus, integration",36 32
4,5,This is Question 5,0,1,0,1,"Summary, Problems","7, 4",7.8,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l...","queue, state statistics",45 21

In [ ]:
df_with_top.to_csv("/content/gdrive/MyDrive/rec_system/questions.csv", index=False)

In [ ]:
df_with_top = df_with_top.drop(["tagIDs", "Chapters"], axis=1)
df_with_top.head()

,ID,Desc,Average Score,Exam 1,Exam 2,Final,Topics,Sections,URLs,tags
0,1,This is Question 1,0,1,0,0,First Project Using the Standard Library Objec...,5.2,"""https://www.youtube.com/watch?v=x8R32Z-o9Lo&l...","excel, arrivals"
1,2,This is Question 2,2,0,1,0,"Lists, ED Model Revisited",7.5,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l...","poisson process, risk analysis"
2,3,This is Question 3,0,0,0,1,"Manual Simulation, Schedules",3.2,"""https://www.youtube.com/watch?v=qbfHVvJ2Ez4&l...","correlation, linear"
3,4,This is Question 4,2,1,0,1,"Summary, PCB Assembly",6.6,"""https://www.youtube.com/watch?v=JLtEFlTN9Y4&l...","oculus, integration"
4,5,This is Question 5,0,1,0,1,"Summary, Problems",7.8,"""https://www.youtube.com/watch?v=Y46g5Np_euY&l...","queue, state statistics"

In [ ]:
df_with_top.to_csv("/content/gdrive/MyDrive/rec_system/questions2.csv", index=False)